.headContainer{
    text-align: center;
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(50, 50, 255)
}

input[type=checkbox]:checked + label{
    color: white;
    background-color: #3e8e41;
    transition: all .5s linear;
}

label{
    padding:5px;
    border:2px solid black;
    border-radius: 5%;
    font-size: 30px;
}
#container{
    margin-left: 5%;
    margin-right: 5%;
    padding-right: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 5px solid black;
}
#animbut{
    min-height: 200px;
    display: grid;
}
.animbut{
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    background-color: rgb(76, 175, 150);
    font-size: 25px;
    text-align: center;
    padding: 15px 25px;
}





#lowercontainer1{
    width: 1200px;
    margin: 50px auto;
    background-color: rgb(76, 175, 150);
    overflow: hidden;
    white-space: nowrap;
 }
 
 
#banner{
    height: 233px;
    width: 1200px;
    margin-bottom: 80px;
}
#banner img{
    transition: all .5s ease;
}

img{
    height: 300px;
    width: 400px;
}

#banner img:hover{
    transform: scale(1.1);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .2);
}

#container1{
   width: 150px;
    height: 200px;
    margin-left: 5%;
    background-color: red;
    overflow:auto;
    animation-name: moveright;
    animation-delay: 5s;
    animation-direction: forward;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    transition: width 1s, height 1s;
}

@keyframes moveright{
    from{margin-left: 0%; width: 150px; height: 200px;}
    to{ margin-left: 30%; width: 300px; height: 400px;}
    
}

.slide {
	animation: bannermove 10s linear infinite;
}

@keyframes bannermove {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -1200px;
 }

}

.test{
    border: 3px solid black;
}
 
#div1{
    transition: all 1s;
    margin:5%;
}

#div2{
    margin:5%;
    transition: all 1s;
}
#div3{
    margin:5%;
    transition: all 1s;
}
#div4{
    margin:5%;
    transition: all 1s;
}

#div1:hover{
    font-size: 20px;
    background-color: #3e8e41;
    border-radius: 10%;
}

#div2:hover{
    padding: 5%;
    box-shadow: 3%;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 20px;
    color: royalblue
}
#div3:hover{
    padding: 10%;
    writing-mode: vertical-rl;
    text-orientation: upright;
}
#div4:hover{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    padding-top:10px;
    padding-left: 50px;
    background-color: aquamarine;
}
